/* line 12, ../sass/styles.scss */
html, body, #workspace {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Bitstream Vera Sans", sans-serif;
  font-size: 9pt;
}

/* line 24, ../sass/styles.scss */
.window {
  position: absolute;
  display: inline-block;
  background-color: #6c8cd5;
  padding: 2px;
}
/* line 30, ../sass/styles.scss */
.window .title_bar {
  background-color: #6c8cd5;
  color: white;
  width: 100%;
}
/* line 36, ../sass/styles.scss */
.window .content {
  background-color: white;
  color: black;
}
/* line 41, ../sass/styles.scss */
.window li.b_song {
  width: 194px;
  min-width: 194px;
}
/* line 46, ../sass/styles.scss */
.window ul.music_list {
  margin: 0;
  padding: 0px;
  min-height: 3px;
}
/* line 50, ../sass/styles.scss */
.window ul.music_list li {
  list-style-type: none;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 0;
  padding: 2px;
}
/* line 58, ../sass/styles.scss */
.window ul.music_list li.b_song:hover {
  border: 1px dashed darkgrey !important;
}
/* line 62, ../sass/styles.scss */
.window ul.music_list .selected_index {
  background-color: lightgrey !important;
}
/* line 65, ../sass/styles.scss */
.window ul.music_list .selected_song {
  border: 1px dashed darkgrey !important;
}
/* line 69, ../sass/styles.scss */
.window ul.music_list .remove-icon {
  float: right;
}

/* line 75, ../sass/styles.scss */
#workspace_target_underlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 82, ../sass/styles.scss */
#toolbar {
  z-index: 5;
  background-color: lightgrey;
  border-bottom: 1px solid darkgrey;
}

/* line 88, ../sass/styles.scss */
div.b_playlist_container {
  width: 200px;
}

/* line 92, ../sass/styles.scss */
#help {
  position: absolute;
  display: inline-block;
  left: 25em;
  top: 3em;
  width: 35%;
  color: darkgrey;
}

/* line 101, ../sass/styles.scss */
#player_frame {
  left: 500px;
  top: 200px;
}

/* line 106, ../sass/styles.scss */
#library {
  left: 40px;
  top: 40px;
  width: 200px;
}
